In [21]:
import pandas as pd
import numpy as np
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer
import joblib
import json  
from first_payment_default import *

# from preprocessing.first_payment_default import data_transformation_pipeline, kredit_preprocessing, \
#     solution_preprocessing, PotentialDefaultCalculator

In [22]:
class UselessFeature(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        return X.drop(['debtor_name','debtor_education_level'], axis=1)

    def fit_transform(self, X, y=None):
        self.fit(X, y)
        return self.transform(X)

In [23]:
useles = UselessFeature()

In [24]:
data_debitur = ["Yoga Fatwanto",21, "S1", 7, 18000000, 8400000, 270000000.0, 98100000, 10, 54, 2263403.16, "kredit pribadi"]
columns = ['debtor_name', 'debtor_age', 'debtor_education_level','employment_year', 'monthly_income', 'monthly_expenses', 'asset_value','loan_amount', 'interest_rate', 'tenor', 'monthly_payment', 'loan_purpose']

In [25]:
df = pd.DataFrame([data_debitur], columns=columns)
nama = data_debitur[0]

In [26]:
df

,debtor_name,debtor_age,debtor_education_level,employment_year,monthly_income,monthly_expenses,asset_value,loan_amount,interest_rate,tenor,monthly_payment,loan_purpose
0,Yoga Fatwanto,21,S1,7,18000000,8400000,270000000.0,98100000,10,54,2263403.16,kredit pribadi

In [27]:
data_transformation_pipeline.fit_transform(df)

,debtor_name,debtor_age,debtor_education_level,employment_year,monthly_income,monthly_expenses,asset_value,loan_amount,interest_rate,tenor,monthly_payment,loan_purpose,loan_income_expenses_ratio,default_risk,ses
0,Yoga Fatwanto,21,S1,7,18000000,8400000,270000000.0,98100000,10,54,2263403.16,kredit pribadi,23.58,Baik,Menengah

In [28]:
df = kredit_preprocessing.fit_transform(df)

In [29]:
df

,debtor_name,debtor_age,debtor_education_level,employment_year,monthly_income,monthly_expenses,asset_value,loan_amount,interest_rate,tenor,monthly_payment,loan_purpose,loan_income_expenses_ratio,default_risk,ses
0,Yoga Fatwanto,21,5,7,18000000,8400000,270000000.0,98100000,10,54,2263403.16,3,23.58,1,2

In [30]:
df.drop(['debtor_name','debtor_education_level'], axis=1, inplace=True)

In [31]:
df.columns

Index(['debtor_age', 'employment_year', 'monthly_income', 'monthly_expenses',
       'asset_value', 'loan_amount', 'interest_rate', 'tenor',
       'monthly_payment', 'loan_purpose', 'loan_income_expenses_ratio',
       'default_risk', 'ses'],
      dtype='object')

In [32]:
new_column_order = ['employment_year', 'monthly_income', 'monthly_expenses', 'asset_value',
                            'loan_amount', 'interest_rate', 'tenor', 'monthly_payment',
                            'loan_income_expenses_ratio', 'default_risk', 'loan_purpose']

kredit_df = df[new_column_order]

In [33]:
scaler = joblib.load('../savedmodel/kredit_pinjaman_scaler.pkl')
scaled_df = scaler.transform(kredit_df)
model = joblib.load('../savedmodel/kredit_pinjaman.pkl')
default_score = model.predict(scaled_df)
df['default_score'] = default_score
default_potential_cal = PotentialDefaultCalculator()
default_potential_cal.fit_transform(df)

,debtor_age,employment_year,monthly_income,monthly_expenses,asset_value,loan_amount,interest_rate,tenor,monthly_payment,loan_purpose,loan_income_expenses_ratio,default_risk,ses,default_score,default_potential
0,21,7,18000000,8400000,270000000.0,98100000,10,54,2263403.16,3,23.58,1,2,249.455811,Sangat Baik

In [34]:
solution_df  = df[['debtor_age', 'asset_value', 'loan_amount', 'loan_purpose', 'ses','default_risk', 'default_score', 'default_potential']]
solution_df

,debtor_age,asset_value,loan_amount,loan_purpose,ses,default_risk,default_score,default_potential
0,21,270000000.0,98100000,3,2,1,249.455811,Sangat Baik

In [35]:
solution_df

,debtor_age,asset_value,loan_amount,loan_purpose,ses,default_risk,default_score,default_potential
0,21,270000000.0,98100000,3,2,1,249.455811,Sangat Baik

In [36]:
solution_df = solution_preprocessing.fit_transform(solution_df)

In [37]:
solution_df

,debtor_age,asset_value,loan_amount,loan_purpose,ses,default_risk,default_score,default_potential
0,21,270000000.0,98100000,3,2,1,249.455811,0

In [38]:
solution_scaler = joblib.load('../savedmodel/kredit_pinjaman_solution_scaler.pkl')
solution_df = solution_scaler.transform(solution_df)
solution_model = joblib.load('../savedmodel/kredit_pinjaman_solution.pkl')
solution_given = solution_model.predict(solution_df)

In [39]:
solution_given

array(['Berikan edukasi keuangan, Pertimbangkan Cairkan aset untuk menutupi pinjaman, Evaluasi keuangan, penyusunan anggaran untuk kebutuhan mendesak, Edukasi Keuangan Lanjutan'],
      dtype=object)

In [41]:
data_debitur = ["Yoga Fatwanto",21, "S1", 7, 18000000, 8400000, 270000000.0, 98100000, 10, 54, 2263403.16, "kredit pribadi"]
columns = ['debtor_name', 'debtor_age', 'debtor_education_level','employment_year', 'monthly_income', 'monthly_expenses', 'asset_value','loan_amount', 'interest_rate', 'tenor', 'monthly_payment', 'loan_purpose']
df = pd.DataFrame([data_debitur], columns=columns)
nama = data_debitur[0]
data_transformation_pipeline.fit_transform(df)
df.drop(['debtor_name','debtor_education_level'], axis=1, inplace=True)
new_column_order = ['employment_year', 'monthly_income', 'monthly_expenses', 'asset_value',
                'loan_amount', 'interest_rate', 'tenor', 'monthly_payment',
                'loan_income_expenses_ratio', 'default_risk', 'loan_purpose']

kredit_df = df[new_column_order]

scaler = joblib.load('../savedmodel/kredit_pinjaman_scaler.pkl')
scaled_df = scaler.transform(kredit_df)
model = joblib.load('../savedmodel/kredit_pinjaman.pkl')
default_score = model.predict(scaled_df)
df['default_score'] = default_score
default_potential_cal = PotentialDefaultCalculator()
default_potential_cal.fit_transform(df)
# solution_df  = df[['debtor_age', 'asset_value', 'loan_amount', 'loan_purpose', 'ses','default_risk', 'default_score', 'default_potential']]
# solution_df = solution_preprocessing.fit_transform(solution_df)
# # cat_encoder = CategoricalEncoder()
# solution_df = cat_encoder.fit_transform(solution_df)
# solution_scaler = joblib.load('../savedmodel/kredit_pinjaman_solution_scaler.pkl')
# solution_df = solution_scaler.transform(solution_df)
# solution_model = joblib.load('../savedmodel/kredit_pinjaman_solution.pkl')
# solution_given = solution_model.predict(solution_df)

ValueError: could not convert string to float: 'Baik'